*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #fff;
}

#main{
    width: 1024px;
    height: 768px;
    
}

#header{
    position: relative;
    height: 150px;
    background-color: #294e79;
    color: #fff;
}
.title-left{
    position: absolute ;
    width: 40%;
    height: 150px;
}
h1{
        font-size: 55px;
        position: absolute;
        left: 23%;
        top: 20%;

}

.img-left{
    width: 100px;
    height: auto;
    position: absolute;
    left: 4%;
    top: 10%;
}

.content-head{
    
    position: absolute;
    font-size: 20px;
    left: 22%;
    top: 70%;
    word-spacing: 5px;
}

.title-right{
    position: absolute;
    width: 60%;
    height: 150px;
    left: 40%;
}

.list-option{
    position: absolute;
    width: 100%;
    height: auto;
    margin-top: 16%;
}


.option{
    display: inline-block;
    padding: 10px 7px 10px 7px;
    background-color: #3d73b1;
    font-size: 20px;
    margin: 5px;
}

.option .Flower-hover{
    display: none;
    padding: 10px 0 10px 0; 
    background-color: #3d73b1;
    font-size: 20px;
    width: 150px;
    position: absolute;
}

.option:hover .Flower-hover{
    display: block;
    background-color: #fff;
    font-size: 20px;
    /* margin: 5px; */
    /* position: absolute; */
    left: 52.45%;
    top: 95%;
}


.option:hover .Flower-hover .option{
    /* margin-bottom: 20px; */
    background-color: #3d73b1;
    width: 150px;
    margin-left: 0px;
}


.option:hover{
    background-color: pink;
}



#body{
    margin: 10px;
    position: relative;
    height: 500px;
}

h2{
    margin: 40px 0 30px 0;
}

.body-left{
    position: absolute;
    width: 70%;
    height:450px;
}
.body-right{
    position: absolute; 
    left: 70%;
    width: 40%;
    height:450px;
}

.body-left .content-left{
    position: absolute;
    width: 50%;
    height: 350px;
    margin: 20px 0 20px 0;
    font-size: 20px;
}

.body-left .content-right{
    position: absolute;
    width: 50%;
    left: 50%;
    height: 350px;

    color: #aa9074;
    padding-left: 50px;
    padding-right: 30px;
}


.body-right .container{
    position: absolute;
    width: 60%;
    height: 100%;
    background-color:  #f9f9f9;
    margin-left: 50px;
    top: 10%;
    padding: 0 30px 0 30px;
}


#footer{
    position: relative;
    line-height: 50px;
    color: #3d73b1;
    background-color: #294e79;
    height: 50px;
}

.content-footer{
    margin-left: 50px;
}

.form-header{

    position: absolute;
    top: 10%;
    left: 60%;
}

#header input{
    background-color: #1c3451;
    border: 1px solid #294e79;
    box-shadow: 1px 1px #3d73b1;
    padding: 5px;
}